footer{
    text-align: center;
    background: rgba(65,65,65);
    padding: 1.5em 0;
}
.footer i{
    color: white;
    margin: 5px;
}
footer h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: white;
}
