@import url('https://fonts.google.com/share?selection.family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
/* ///////////////////////// .navbar style ///////////////////////// */
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu-items{
    order: 2;
    display: flex;
}

.menu-items li{
    list-style: none;
    margin-left:1.5em ;
    font-size: 1.8rem;
}

.logo{
    order: 1;
    font-size: 3rem;
}

.navbar a{
    text-decoration: none;
    font-weight: 500;
    color: #444;
    transition: color 0.4s ease-in-out;
}

.navbar a:active {
    color: #10e5bb;
  }

.navbar a:hover{
    color: #117964;
}

.navbar ul li a{
    text-decoration: none;
    position: relative;
}

.navbar ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar ul li a:hover::after{
    width: 100%;
}

@media (max-width: 400px){
    *{
        font-size: 50%;
    }
    }

