.donation {
    margin: auto;
    margin-top: 0%;
    margin-bottom: 20px;
    /* padding-top: 6%; */
    width: 600px;
    height: 650px;
    border: 2px solid black;
}

* {
    box-sizing: border-box;
}
body{
    background-image: url(../img/website-background-templates.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.donation h2 {
    width: 100%;
    background-color: #0e9d80;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}

.donation form {
    margin-top: 0px;
    width: 100%;
    text-align: center;
}

.form-group input {
    margin: auto;
    width: 90%;
    padding: 20px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid black;
}

form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
    transition: background 0.4s ease-in-out;
}

form input[type="submit"] {
    background: #16a083;
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.407);

}

form input[type="submit"]:hover {
    background: rgb(32, 109, 32);
}

.donation p{
    font-size: 2rem;
    padding: 20px;
}

